<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="G202CHAnSaleDDTM.Properties.Settings._1G202AnSaleDDTNConnectionString"
            connectionString="Data Source=LAPTOP-LRI6D6OE;Initial Catalog=1G202AnSaleDDTN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>